venv/ 
old/
__pycache__/
scripts.zip
scripts2
exempla
0-exempla
convert_json.py
json

*.mp4
*.zip
*.pyc
*.json
# GFPGAN Models
models/
*.pth
audio-2

# Arquivos de fila personalizados (mas manter .gitkeep)
batch_queues/
!batch_queues/.gitkeep